<div class="container my-5">
  <div class="content-wrapper p-4 bg-white rounded shadow-sm text-center">
    <h2 class="mb-4">Welcome, <%= @resource.email %>!</h2>
    <p class="lead">You can confirm your account email through the link below:</p>
    <p>
      <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
